@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/assets/fonts/averta-regular.woff2') format('woff2'),
    url('/assets/fonts/averta-regular.woff') format('woff');
}

@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('/assets/fonts/averta-bold.woff2') format('woff2'),
    url('/assets/fonts/averta-bold.woff') format('woff');
}

@font-face {
  font-family: 'Schnyder';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/assets/fonts/schnyder-regular.woff2') format('woff2'),
    url('/assets/fonts/schnyder-regular.woff') format('woff');
}