@import 'abstracts';

.home {
    height: 100vh;

    &__lhs, &__rhs {
        flex: 1;
        position: relative;
        height: 100%;
    }

    canvas, &__content {
        position: absolute;
        top:0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    
    canvas { 
        z-index: -1;
    }

    &__content {
        z-index: 10;
    }
}