@import 'abstracts';

.home {
    min-height: var(--available-space);

    &__header {
        padding-top: var(--header-total);
        background: url('/assets/images/railway.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 60vh;

        align-items: center;

        h1 {
            min-width: auto;
            width: 50%;
            text-align: center;
        }
    }

    &__section {
        min-height: 500px;
    }
}